# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# TensorFlow / TFJS caches (if any)
tfjs-node-cache/